@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;

}

.row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-right: -12px;
    margin-left: -12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.flex-column {
    flex-direction: column;
}
.ml-40{
    margin-left: 40px;
}
.mt-50{
    margin-top: 50px;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.justify-content-between {
    justify-content: space-between;
}

.text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.py-110 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.bg-color {
    background-color: #F6E300;
    ;
}

.heading {

    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.min-vh-100 {
    min-height: 100vh;
}

.cnt {
    padding: 11px 30px;
    background-color: #ffff;
    border: 2px solid;
    border-radius: 10px;
    border: none;
}

.text:hover {
    color: red;
}

.w-100 {
    width: 100%;
}

.mw-348 {
    max-width: 348px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.wlcm {

    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.head1 {
    margin-top: 24px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.phara {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    
}

.btn2 {
    color: white;
    border: 2px solid red;
    padding: 15px 30px;
    background-color: red;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.bg-color1 {
    background-color: #FFF03F;
    ;
}

.bg-red {
    background-color: red;
}

.number {

    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.business {

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.text-white {

    color: #ffff;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.tem {

    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.name {

    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.position-relative {
    position: relative;
}

.pos-absoulte {
    position: absolute;
}

.icon1 {
    position: absolute;
    right: 0%;

    bottom: 12%;

}

.icon2 {
    position: absolute;
    right: 20%;
    top: 40%;
}

.icon3 {
    position: absolute;
    top: 40%;
    left: 15%;
}

.icon4 {
    position: absolute;
    right: 2%;
    top: 42%;
}

.icon5 {
    position: absolute;
    bottom: 7%;
    left: 17%
}

.icon6 {
    position: absolute;
    top: 40%;
    left: 0;

}

.icon7 {
    position: absolute;
    right: 14%;
    bottom: 8%;
}

.icon8 {
    position: absolute;
    left: 3%;
    bottom: 2%;
}

.burger1 {
    position: absolute;
    left: 0;
    top: 40%;
}

.burger2 {
    position: absolute;
    top: 5%;
    left: 20%;
}

.burger3 {
    position: absolute;
    right: 25%;
    top: 25%
}

.burger4 {
    position: absolute;
    right: 0;
    bottom: 15%
}

.burger5 {
    position: absolute;
    right: 27%;
    bottom: 10%;
}

.burger6 {
    position: absolute;
    right: 0;
    top: 15%;
}

.burger7 {
    position: absolute;
    bottom: 30%;
    left: 27%;
}

.burger8 {
    position: absolute;
    bottom: 8%;
    left: 2%;
}

.pt-md-20 {
    padding-top: 20px;
}

.few {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.card {
    border: 3px solid #000000;
    background-color: #FFF03F;
    border: none;
    padding: 20px;

}

.para2 {

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.mw-910 {
    max-width: 910px;
}

.mt-20 {
    margin-top: 20px;
}

.mark2 {
    position: absolute;
    top: 15%;
    right: 2%;
}

.info {

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 866px;
}



.man {

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

/* .roadmap */


.data {

    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.ques {

    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.road {
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: #F4241E;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


.container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;

    top: 0;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
}


.right {
    left: 50%;
}


.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;

    border-width: 10px 0 10px 10px;

}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;

    border-width: 10px 10px 10px 0;

}


.right::after {
    left: -13px;
}
.mw-542{
    max-width: 542px;
}
.copy{

    font-family: 'Poppins', sans-serif;  
     font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.accordion-button:not(.collapsed) {
    background-color: unset !important;
    color: unset !important;
}

.toggle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;


}

.accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.accordion-item {
    padding-bottom: 10px !important;
    background: #FFF03F !important;
    margin-bottom: 20px !important;
    color: #000000 !important;


}

ul {
    margin-top: 0 !important;
}

.accordion {
    --bs-accordion-border-color: none !important;
    --bs-accordion-bg: none !important;
    background: transparent !important;
    --bs-accordion-active-bg:none !important;
}

:root,
[data-bs-theme=light] {
    --bs-body-bg: #FFF03F;
}

ol li {
    list-style-type: decimal !important;
}

@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container1 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container1::before {
        left: 60px;

        border-width: 10px 10px 10px 0;

    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:768px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
}




@media (min-width:992px) {
    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .d-lg-block {
        display: block;
    }

}

@media (max-width:1200px) {
    label[for="menubar"] {
        display: flex;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        flex-direction: column;

    }

    label[for="menubar"]>span {
        width: 100%;
        height: 4px;
        background-color: rgb(22, 19, 3);
        border-radius: 3px;

    }

    ul.mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: goldenrod;
        transition: all 300ms linear;
    }

    input[type="checkbox"][id=menubar]:checked+ul.mobile-view {
        left: 0;
    }


}